# Miscellaneous / OS
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo

# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/build/
doc/api/
coverage/

# Symbol files & Symbolication
*.symbols
*.map

# Android
android/.gradle/
android/local.properties
android/captures/
android/gradleApp.setting
android/app/debug/
android/app/profile/
android/app/release/
*.keystore
*.jks
key.properties
android/fastlane/report.xml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/

# Environment / Secrets
.env
.env.*
!.env.example
